/* Write your CSS here */
.item-cont {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .item-cont {
    font-size: 25px;
  }
}
.active {
  border: 2px solid #0284c7;
  color: #0284c7;
  font-size: 18px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
}
